@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('/fonts/OverpassMono-VariableFont_wght.ttf');
    font-display: swap;
}


@font-face {
    font-family: 'Silkscreen';
    src: url('/fonts/silkscreen.woff2');
}


:root {
    --bg: hsla(0, 0%, 97%, 1);
    --background: hsla(0, 0%, 100%, 1);
    --text: hsla(0, 0%, 10%, 1);
    --light: hsla(0, 0%, 30%, 1);
    --link: hsla(0, 99%, 33%, 1);
    --border: hsla(0, 0%, 75%, 1);
    --primary: hsla(0, 99%, 33%, 1);
    --logo-background: hsla(0, 0%, 10%, 1);
    --logo-fill: hsla(0, 99%, 44%, 1);
    --logo-fill-inactive: hsla(0, 100%, 41.6%, 1);
    --icon: hsla(0, 0%, 25%, 1);
    --icon-hover: hsla(0, 0%, 45%, 1);
    --pattern: blue;

    --bird-50: oklch(0.985 0 0);
    --bird-100: oklch(0.97 0 0);
    --bird-200: oklch(0.922 0 0);
    --bird-300: oklch(0.87 0 0);
    --bird-400: oklch(0.708 0 0);
    --bird-500: oklch(0.556 0 0);
    --bird-600: oklch(0.439 0 0);
    --bird-700: oklch(0.371 0 0);
    --bird-800: oklch(0.269 0 0);
    --bird-900: oklch(0.205 0 0);
    --bird-950: oklch(0.145 0 0);

    --spinner: hsla(0, 0%, 0%, 1);

    --button-background: white;
    --button-text: hsla(0, 0%, 0%, 1);
    --button-hover: theme('colors.bird.100');
    --button-focus: white;
    --button-active: theme('colors.bird.200');
    --button-border: theme('colors.bird.400');
    --button-box-shadow: theme('colors.bird.100');

    --button-primary-background: theme('colors.bird.900');
    --button-primary-text: hsla(0, 0%, 100%, 1);
    --button-primary-hover: theme('colors.bird.800');
    --button-primary-focus: theme('colors.bird.900');
    --button-primary-active: theme('colors.bird.950');
    --button-primary-border: transparent;
    --button-primary-box-shadow: theme('colors.bird.800');

    --input-background: hsla(0, 0%, 100%, 1);
    --input-border: hsla(0, 0%, 20%, 1);
    --input-focus: hsla(0, 0%, 20%, 1);
    --input-text: hsla(0, 0%, 0%, 1);
    --input-placeholder: hsla(0, 0%, 40%, 1);

    --alert: hsla(0, 100%, 50%, 1);

    --scrollbar-thumb: theme('colors.bird.700');
    --scrollbar-track: theme('colors.bird.100');

    --tooltip-background: hsla(0, 0%, 100%, 1);
    --tooltip-text: hsla(0, 0%, 0%, 1);
    --tooltip-background-dark: theme('colors.bird.800');
    --tooltip-text-dark: hsla(0, 0%, 100%, 1);
}

:root.black {
    --bg: hsla(0, 0%, 7%, 1);
    --background: hsla(0, 0%, 7%, 1);
    --text: white;
    --light: white;
    --link: hsla(0, 99%, 33%, 1);
    --border: hsla(0, 0%, 90%, 1);
    --primary: hsla(0, 99%, 33%, 1);
    --logo-background: hsla(0, 0%, 10%, 1);
    --logo-fill: hsla(0, 99%, 44%, 1);
    --logo-fill-inactive: hsla(0, 100%, 41.6%, 1);
    --icon: hsla(0, 0%, 25%, 1);
    --icon-hover: hsla(0, 0%, 45%, 1);
    --pattern: red;

    --bird-50: blue;
    --bird-100: yellow;
    --bird-200: oklch(0.922 0 0);
    --bird-300: oklch(0.87 0 0);
    --bird-400: oklch(0.708 0 0);
    --bird-500: oklch(0.556 0 0);
    --bird-600: oklch(0.439 0 0);
    --bird-700: oklch(0.371 0 0);
    --bird-800: oklch(0.269 0 0);
    --bird-900: oklch(0.205 0 0);
    --bird-950: oklch(0.145 0 0);


    --spinner: hsla(0, 0%, 100%, 1);

    --button-background: hsla(0, 0%, 15%, 1);
    --button-text: hsla(0, 0%, 100%, 1);
    --button-hover: hsla(0, 0%, 20%, 1);
    --button-focus: hsla(0, 0%, 20%, 1);
    --button-active: hsla(0, 0%, 5%, 1);
    --button-border: transparent;

    --button-primary-background: hsla(0, 0%, 92%, 1);
    --button-primary-text: hsla(0, 0%, 7%, 1);
    --button-primary-hover: hsla(0, 0%, 90%, 1);
    --button-primary-focus: hsla(0, 0%, 90%, 1);
    --button-primary-active: hsla(0, 0%, 88%, 1);
    --button-primary-border: transparent;

    --input-background: hsla(0, 0%, 100%, 1);
    --input-border: hsla(0, 0%, 20%, 1);
    --input-focus: hsla(0, 0%, 20%, 1);
    --input-text: hsla(0, 0%, 0%, 1);
    --input-placeholder: hsla(0, 0%, 40%, 1);

    --alert: hsla(0, 100%, 50%, 1);

    --scrollbar-thumb: hsla(0, 0%, 71%, 1);
    --scrollbar-track: hsla(0, 0%, 90%, 1);

    --tooltip-background: hsla(0, 0%, 100%, 1);
    --tooltip-text: hsla(0, 0%, 0%, 1);
    --tooltip-background-dark: theme('colors.bird.800');
    --tooltip-text-dark: hsla(0, 0%, 100%, 1);
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: none;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}
::-webkit-scrollbar-corner {
    background: var(--scrollbar-track);
}


html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-size: var(--base-font-size);
    height: -webkit-fill-available;
    width: 100%;
    background-color: var(--bg);
}

body {
    font-family: "Inter", "Twemoji", "Apple Color Emoji", "Segoe UI Emoji", "Arial", "Helvetica", sans-serif, "STIXGeneral", "Noto Color Emoji";
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-image: linear-gradient(var(--bg) 0%, transparent 30vh);
    width: 100%;
}

.mono {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1;
}

button {
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: inset 0px -3px 0 var(--button-box-shadow);
    border: 1px solid var(--button-border);
    border-radius: 3px;
    background-color: var(--button-background);
    color: var(--button-text);
    transition: background-color 0.1s;
}

button.primary {
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: inset 0px -3px 0 var(--button-primary-box-shadow);
    border: 1px solid var(--button-primary-border);
    border-radius: 2px;
    background-color: var(--button-primary-background);
    color: var(--button-primary-text);
    transition: background-color 0.1s;
}

button:focus {
    background-color: var(--button-focus);
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
}

button.primary:focus {
    background-color: var(--button-primary-focus);
}

button.primary:hover {
    background-color: var(--button-primary-hover);
}

button.primary:active{
    background-color: var(--button-primary-active);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--button-background);
}

button.primary:disabled:hover {
    background-color: var(--button-primary-background);
}

input {
    width: 100%;
    border: 1px solid var(--input-border);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: var(--input-text) !important;
}

input:disabled {
    cursor: not-allowed;
}

input:focus {
    outline-offset: 0;
    border-radius: 0;
}

input::placeholder {
    color: var(--input-placeholder);
}

.spinner {
    width: 22px;
    height: 22px;
    cursor: not-allowed;
    border-width: 2px;
    border-color: var(--spinner);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spin 0.5s linear infinite;
}

.spinner-sm {
    width: 12px;
    height: 12px;
    cursor: not-allowed;
    border-width: 2px;
    border-color: var(--spinner);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box {
    background: var(--background);
    border: 1px solid var(--border);
    box-shadow: 6px 6px 0 theme('colors.bird.200');
    transform: translate(0, 0);
}

.box:hover {
}


.boxed {
    box-shadow: 6px 6px 0 theme('colors.bird.200');
    transform: translate(0, 0);
    background: var(--background);
}

.boxed-content {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.silk {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
}

.ProseMirror {
}
.ProseMirror-focused {
    outline: none;
}

.tooltip {
    position: fixed;
    background: var(--tooltip-background);
    border: 1px solid var(--border);
    box-shadow: 4px 4px 0 theme('colors.bird.700');
    color: var(--tooltip-text);
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}

.tooltip-dark {
    position: fixed;
    background: var(--tooltip-background-dark);
    border: none;
    color: var(--tooltip-text-dark);
    box-shadow: 4px 4px 0 theme('colors.bird.400');
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    font-size: 14px;
    pointer-events: none;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}
